.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ref2 */
.mark {
  -webkit-text-stroke: 0.1px white;
  background-color: azure;
}
.text-big {
  font-size: 1.5em;
}
.bt-close {
  position: absolute;
  right: 0px;
  padding-right: 5%;
  color: RED;
  font-size: 1.4em;
  -webkit-text-stroke: 1px white;
  cursor: pointer;
}
.bg-show{
  background-image: url('./img/18948.jpg');
  background-size:50vw;
  background-position: bottom right;
  background-repeat: no-repeat;
  height: 100vh;
}
.bg-upload{
  background-image: url('./img/2927342.jpg');
background-size: contain;
  background-repeat: no-repeat;
background-position: center;
  height: 100vh;
  width: 100vw;
  background-color: #E9E4E1;
}
.bg-show-full{
  background-image: url('./img/18948.jpg');
  background-repeat: no-repeat;
background-position: center;
  height: 100vh;
  width: 100vw;
  background-color: #E9E4E1;
  background-size: cover;
  background-attachment: fixed;
}
.image-upload>input {
  display: none;
}
.img-upload{
width: 300px;
}
.img-upload:hover{
  width: 305px;
  cursor: pointer;

  }
